/*.pexel-logo-coupleBB {*/
    /*background-image: url("../images/pexels-couplejogBB.jpg");
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;*/
/*    background-color: blue;
}*/

#couplebb {
margin: auto;
padding-top: 10px;
padding-bottom: 10px;
width: 400px;
background : #D8F1F8;
border: 1px soild silver;
	background-color: yellow;
	color: red;
}